<a href="https://colab.research.google.com/github/moridin04/CCMACLRL_EXERCISES_COM221ML/blob/main/Exercise3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 3

Create a model using K-Nearest Neigbors to perform classification using the personality dataset.

0 -'introvert'

1 - 'extrovert'

## A. Import libraries

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import sklearn
from sklearn.datasets import load_breast_cancer
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, ConfusionMatrixDisplay

## B. Load and understand the dataset

In [6]:
df = pd.read_csv('personality.csv')

In [7]:
df.head()

,Name,Post/Share Frequently?,Active in social media?,Replies to comments?,Number of friends/followers,Personality
0,Jaime,1,1,1,127,1
1,Xyleene,1,1,1,130,1
2,Manilyn,0,0,0,1592,0
3,Jasmine,0,0,0,59,0
4,Ellison,1,1,1,512,1

In [27]:
df.drop(columns='Name', inplace=True)

In [28]:
df.head()

,Post/Share Frequently?,Active in social media?,Replies to comments?,Number of friends/followers,Personality
0,1,1,1,127,1
1,1,1,1,130,1
2,0,0,0,1592,0
3,0,0,0,59,0
4,1,1,1,512,1

1. Display the summary of all the features of the dataset using `.info()`

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Post/Share Frequently?       50 non-null     int64
 1   Active in social media?      50 non-null     int64
 2   Replies to comments?         50 non-null     int64
 3   Number of friends/followers  50 non-null     int64
 4   Personality                  50 non-null     int64
dtypes: int64(5)
memory usage: 2.1 KB

2. Display the total number of samples from each label using `.value_counts()`

In [30]:
df.value_counts()

Post/Share Frequently?  Active in social media?  Replies to comments?  Number of friends/followers  Personality
1                       1                        1                     64                           1              2
0                       0                        0                     18                           0              1
                        1                        0                     123                          0              1
1                       0                        1                     32                           1              1
                                                                       94                           1              1
                                                                       414                          1              1
                                                                       720                          1              1
                        1                        0                     954                          1              1
                                                 1                     16                           1              1
                                                                       33                           1              1
                                                                       39                           1              1
                                                                       88                           1              1
                                                                       92                           1              1
                                                                       93                           1              1
                                                                       97                           1              1
                                                                       108                          1              1
                                                                       127                          1              1
                                                                       130                          1              1
                                                                       512                          1              1
                                                                       686                          0              1
                                                                       719                          1              1
                                                                       799                          1              1
                                                                       1075                         1              1
0                       1                        0                     1506                         0              1
                                                                       121                          0              1
                        0                        0                     20                           0              1
                        1                        0                     113                          0              1
                        0                        0                     38                           0              1
                                                                       57                           0              1
                                                                       59                           0              1
                                                                       61                           0              1
                                                                       65                           0              1
                                                                       89                           0              1
                                                                       110                          0              1
                                                                       122                          0              1
                                                                       384                          0              1
                                                                       548                          0              1
                                                                       828                          0              1
                                                                       1199                         0              1
                                                                       1592                         0              1
                                                                       2020                         0              1
                                                 1                     45                           0              1
                                                                       108                          0              1
                                                                       603                          0              1
                                                                       742                          0              1
                                                                       1271                         0              1
                        1                        0                     66                           0              1
                                                                       77                           0              1
1                       1                        1                     2831                         1              1
Name: count, dtype: int64

## C. Split the dataset into training and test set

3. Convert the features into an numpy array using `.values()` and store it in a variable "X"

In [31]:
x = df.drop(columns=['Personality']).values

4. Convert the labels into an numpy array using `.values()` and store it in a variable "y"

In [32]:
y = df['Personality'].values

5. Use `train_test_split()` to split the data.

- Declare a variable `X_train` that will hold the training data
- Declare a variable `X_test` that will hold the test data
- Declare a variable `y_train` that will hold the label of the training data
- Declare a variable `y_test` that will hold the label of the test data

In [33]:
x_train, x_test, y_train, y_test = train_test_split(x,
                                                    y,
                                                    test_size=0.2,
                                                    random_state=5)

## D. Create the model

6. Use KNN as a classifier by using `KNeighborsClassifier()`

In [34]:
knn = KNeighborsClassifier(n_neighbors=13)

7. Train the model using the `.fit()`

In [35]:
knn.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=13)

8. Test the model using the `.predict()`

In [37]:
y_pred = knn.predict(x_test)

## Evaluate the model

9. Create a confusion matrix

In [ ]:
# put your answer here

10. Display the accuracy

In [ ]:
# put your answer here

11. Display the precision

In [ ]:
# put your answer here

12. Display the recall

In [ ]:
# put your answer here

13. Display the f1-score

In [ ]:
# put your answer here